<div class="container" id="home_container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-gray">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <%= link_to'My Blog',controller:'articles' %>

</div>
