@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: black !important;

}

.nav-link {color: white !important}

.navbar-brand {

font-size: 3rem;

}



h1 {

color: black;

}

#logo {

  float: left;
  color: #fff;
  text-transform: uppercase;


}

#home_container {
  margin-top: 25px;
}

.jumbotron{
  background-image: url('jumbo-copy1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
